.header {
  width: 100%;
  height: 72px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
}

.header>div>img {
  width: 50px;
  margin-right: 10px;
}

.header>div {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  font-size: 18px;
  line-height: 1.2;
}

.header>ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header>ul li {
  padding: 0 20px;
  font-size: 14px;
}

.header>ul li a.active {
  color: #0297D9;
}

.header li:hover a {
  color: #0297D9;
  transition: all 1s ease;
}

.login {
  color: rgb(2, 99, 145);
  font-size: 14px;
}

.operation {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: #0297D9;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  margin-left: 30px;
}

.banner {
  height: 600px;
  overflow: hidden;
  background: url(../images/banner_bg.png) no-repeat center center;
  margin-top: 72px;
}

.bannertitle {
  width: 1050px;
  text-align: left;
  margin-left: -405px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 302px;
}

.bannertitle h1 {
  font-size: 60px;
  color: rgb(2, 99, 145);
}

.bannertitle p {
  line-height: 2;
  color: #0297D9;
  font-size: 24px;
  font-weight: 700;
}

.culture {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.culture>h5,
.about h5,
.team h5,
.event h5,
.news>h5 {
  line-height: 60px;
  color: rgb(2, 99, 145);
  font-size: 48px;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
  padding: 0 0 40px;
}

.culture_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.culture_a {
  width: 50%;
  height: 200px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
}

.culture_a:first-child {
  margin-right: 5px;
}

.culture_a,
.culture_b,
.culture_c {
  position: relative;
  background: url(../images/culture_test.png) no-repeat center center;
  background-size: cover;
}

.culture_a>h5,
.culture_b>h5,
.culture_c>h5 {
  width: 100%;
  font-size: 26px;
  font-weight: normal;
  background-color: rgba(2, 151, 217, .5);
  line-height: 80px;
  padding: 0 40px;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.culture_a>div,
.culture_b>div,
.culture_c>div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(2, 151, 217, .5);
  padding: 40px;
  box-sizing: border-box;
}

.culture_a>div>h5,
.culture_b>div>h5,
.culture_c>div>h5 {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  line-height: 40px;
}

.culture_a>div>p,
.culture_b>div>p,
.culture_c>div>p {
  font-size: 14px;
  color: #fff;
}

.hide {
  display: none;
}

.culture_d {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.culture_b {
  width: 100%;
  height: 200px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
}

.culture_d>div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.culture_c {
  width: 30%;
  height: 400px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}

.about {
  padding: 60px 0;
  background: url(../images/about_bg.jpg) no-repeat center center;
  background-attachment: fixed;
}

.about p {
  width: 1200px;
  margin: 0 auto;
  text-indent: 2em;
  font-size: 14px;
  color: #fff;
  line-height: 2.5;
}

.team {
  padding: 60px 0;
}

.swiper-slide {
  width: 750px;
  height: 450px;
  text-align: left;
  padding-right: 20px;
  padding-top: 60px;
  float: left;
  overflow: hidden;
  position: relative;
}

.teamlists {
  border: 1px solid #ebebeb;
  width: 100%;
  height: 300px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.team_name {
  color: rgb(2, 99, 145);
  font-weight: bold;
  font-size: 14px;
}

.team_position {
  width: 220px;
  color: #b2b2b2;
  font-size: 12px;
}

.team_introduct {
  font-size: 12px;
  color: #747474;
  line-height: 22px;
  width: 400px;
  margin-top: 40px;
}

.teamlists img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.teamlists>div:first-child {
  margin-top: -60px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  border: 1px solid #2c2a29;
}

.swiper-pagination-bullet-active {
  background-color: #0297D9;
  border: 1px solid #0297D9;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.event {
  background-color: #f4f4f4;
  padding: 60px 0;
}

.event img {
  display: block;
  width: 1191px;
  margin: 0 auto;
}

.news {
  padding: 60px 0;
  /* background-color: #f4f4f4; */
}

.news_tit {
  font-size: 16px;
  color: #0297D9;
  font-size: 16px;
  font-weight: normal;
}

.news_introd {
  font-size: 14px;
  color: #747474;
}

.news_time {
  color: #b2b2b2;
  font-size: 12px;
}

.news ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.news ul li {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.news ul li>div {
  height: 355px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  overflow: hidden;
}

.news ul li>div h5 {
  margin-top: 20px;
}

.news ul li>div p,
.news ul li>div h5 {
  padding: 10px;
  box-sizing: border-box;
}

.news ul li img {
  width: 100%;
}

.footer {
  padding: 60px 0;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 12px;
}

.footer a {
  color: #fff;
  font-size: 12px;
}

.footer>div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer>div>img {
  width: 150px;
}

.footer>div>div>ul>li {
  line-height: 2;
}

.footer>div>div>ul>li:nth-child(1) {
  font-size: 16px;
  line-height: 40px;

}

#timeline {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: url('img/dot.gif') left 45px repeat-x;
}

#dates {
  width: 760px;
  height: 100px;
  overflow: hidden;
}

#dates li {
  list-style: none;
  float: left;
  width: 180px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: url('img/biggerdot.png') center bottom no-repeat;
}

#dates a {
  width: 180px;
  line-height: 20px;
  padding-bottom: 2px;
  font-size: 15px;
}

#dates .selected {
  font-size: 20px;
  font-weight: bold;
}

#issues {
  width: 760px;
  overflow: hidden;
}

#issues li {
  width: 760px;
  list-style: none;
  float: left;
}

#issues li h3 {
  color: #0297D9;
  font-size: 35px;
  margin: 20px 0;
}

#issues li p {
  font-size: 14px;
  margin-right: 70px;
  margin: 10px;
  font-weight: normal;
  line-height: 22px;
}

.other {
  width: 100%;
  height: 630px;
  background: #f4f4f4 url(../images/other_bg.png) no-repeat bottom center;
  background-size: cover;
  text-align: center;
}

.other h1 {
  height: 90px;
  line-height: 90px;
  color: #0297D9;
  font-size: 72px;
  font-weight: bold;
  padding-top: 80px;
  overflow: hidden;
}

.other h5 {
  height: 45px;
  line-height: 45px;
  color: #0297D9;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 30px;
}

.other p {
  line-height: 25px;
  color: #747474;
  overflow: hidden;
  font-size: 12px;
}