.header {
  width: 100%;
  height: 72px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
}

.header>img {
  width: 200px;
}

.header>ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header>ul li {
  padding: 0 20px;
  font-size: 14px;
}

.header>ul li a.active {
  color: #ed6d1f;
}

.login {
  color: #582912;
  font-size: 14px;
}

.operation {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: #ed6d1f;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  margin-left: 30px;
}

.banner {
  height: 600px;
  overflow: hidden;
  background: url(../images/banner_bg.png) no-repeat center center;
  margin-top: 72px;
}

.bannertitle {
  width: 1050px;
  text-align: left;
  margin-left: -405px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 302px;
}

.bannertitle h1 {
  font-size: 60px;
  font-size: arial;
  color: #582912;
}

.bannertitle p {
  line-height: 2;
  color: #ed6d1f;
  font-size: 24px;
  font-weight: 700;
}

.culture {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.culture>h5,
.about h5,
.team h5,
.event h5,
.news > h5 {
  line-height: 60px;
  color: #582912;
  font-size: 48px;
  font-weight: normal;
  overflow: hidden;
  text-align: center;
  padding: 0 0 40px;
}

.culture>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.culture>div img {
  width: 444px;
}

.culture>div h5 {
  height: 60px;
  line-height: 60px;
  color: #ed6d1f;
  font-size: 24px;
  font-weight: bold;
}

.culture>div p {
  font-size: 14px;
  color: #747474;
  margin-bottom: 40px;
}

.culture>div>div>div:nth-child(4)>p {
  margin-bottom: 0;
}

.about {
  padding: 60px 0;
  background: url(../images/about_bg.jpg) no-repeat center center;
  background-attachment: fixed;
}

.about p {
  width: 1200px;
  margin: 0 auto;
  text-indent: 2em;
  font-size: 16px;
  color: #fff;
  line-height: 2;
}

.team {
  padding: 60px 0;
}

.swiper-slide {
  width: 750px;
  height: 450px;
  text-align: left;
  padding-right: 20px;
  padding-top: 60px;
  float: left;
  overflow: hidden;
  position: relative;
}

.teamlists {
  border: 1px solid #ebebeb;
  width: 100%;
  height: 300px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.team_name {
  color: #582912;
  font-weight: bold;
  font-size: 14px;
}

.team_position {
  width: 220px;
  color: #b2b2b2;
  font-size: 12px;
}

.team_introduct {
  font-size: 12px;
  color: #747474;
  line-height: 22px;
  width: 400px;
  margin-top: 40px;
}

.teamlists img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.teamlists>div:first-child {
  margin-top: -60px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  border: 1px solid #2c2a29;
}

.swiper-pagination-bullet-active {
  background-color: #ed6d1f;
  border: 1px solid #ed6d1f;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.event {
  background-color: #f4f4f4;
  padding: 60px 0;
}

.event img {
  display: block;
  width: 1191px;
  margin: 0 auto;
}

.news{
  padding: 60px 0;
}

.news_tit{
  font-size: 16px;
  color: #ed6d1f;
  font-size: 16px;
  font-weight: normal;
}

.news_introd{
  font-size: 14px;
  color: #747474;
}

.news_time{
  color: #b2b2b2;
  font-size: 12px;
}

.news ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.news ul li{
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.news ul li > div {
  height: 355px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  overflow: hidden;  
}

.news ul li > div h5 {
  margin-top: 20px;
}

.news ul li > div p,.news ul li > div h5 {
  padding: 10px;
  box-sizing: border-box;
}

.news ul li img{
  width: 100%;
}

.footer {
  padding: 60px 0;
  background-color: #582912;
  color: #fff;
  font-size: 12px;
}

.footer a{
  color: #fff;
  font-size: 12px;
}

.footer > div {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer > div > img{
  width: 100px;
}

.footer > div > div > ul > li{
  line-height: 2;
}

.footer > div > div > ul > li:nth-child(1){
  font-size: 16px;
  line-height: 40px;

}